language: node_js
node_js:
- '10'
- '8'
- '6'
- '4'
before_install:
- sudo apt-get -qq update
- wget http://swdownloads.analog.com/cse/travis_builds/master_latest_libiio-trusty.deb
- sudo dpkg -i master_latest_libiio-trusty.deb
